[Unit]
Description=Vérification fréquente du certificat IP GOA Kombucha

[Timer]
OnCalendar=*-*-* 00,06,12,18:17:00
RandomizedDelaySec=30m
Persistent=true

[Install]
WantedBy=timers.target
